header {
    background-color: #8b0000;
    padding: 20px;
    text-align: center;
    color: white;
}

body {
    background-color: #ffe5e5;
    margin: 0px;
}

nav {
    background-color: #b22222;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    background-color: #dc3545;
    padding: 10px;
}

section {
    background-color: #fff5f5;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(139, 0, 0, 0.3);
}

footer {
    background-color: #8b0000;
    text-align: center;
    color: white;
}